.production-chart {
    position: relative;

    h3 {
        position: absolute;
        top: 21px;
        left: 16px;
        margin-bottom: 0;

        @media (max-width:991px) {
            top: 15px;
        }
    }



    .recharts-responsive-container {


        .recharts-wrapper {
            position: absolute;
            top: 45px;





        }

    }


}



.production-chart .recharts-responsive-container .recharts-wrapper {
    position: absolute;
    top: 8px;
    left: -9px;
}

.chart-dots {
    position: absolute;
    top: 21px;
    right: 16px;
    margin-bottom: 0;
}

.rechart-legend-wrapper {
    padding: 12px;
}